{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	{% placeholder "content" %}
    <div style="margin-top: 30px">
        {% placeholder "content1" %}
    </div>
    <div style="margin-top: 30px">
        {% placeholder "content2" %}
    </div>
{% endblock content %}
