<div style="margin-right: 30px; margin-left: 30px">
    {% if status == 0 %}
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-text"><b>Strona wiazaca z baza została usunieta! Wyswietlanie komentarzy wylaczone.</b></p>
            </div>
        </div>
    {% elif status == 1 %}
        <div class="alert alert-success alert-dismissable" style="margin-top: 20px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>OK!</strong> Twój komentarz został zapisany. Odśwież stronę.
        </div>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Dodaj komentarz</h1>
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" value="Dodaj"/></td>
                </tr>
            </table>
            {{ info }}
        </form>
    {% endif %}
</div>