<div style="margin-right: 30px; margin-left: 30px">
    <div class="list-group">
        {% if status %}
            <div class="list-group-item">
                <p class="list-group-item-text"><b>Strona wiazaca z baza została usunieta! Wyswietlanie komentarzy wylaczone.</b></p>
            </div>
        {% else %}

            <h1>Komentarze</h1>
            {% for comment in instance.comments %}
                <div class="list-group-item">
                    <p class="list-group-item-text"><b>{{ comment.author }}</b><br>{{ comment.text }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>