.errorlist {
    color: red;
    font-size: 1em;
    list-style-type: none;
    padding:0;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
}

.menu_link {
    margin-right: 20px;
}

.error {
    color: red;
}

.add_title {
    width: 400px;
    margin-left: 10px
}

.title_div {
    margin-bottom: 20px;
}

.add_text {
    margin-bottom: 10px
}

.register_table {
    width: 340px;
    margin-right: auto;
    margin-left: auto
}

.register tr{
    width: 340px;
    vertical-align:bottom;
}

.register th{
    text-align: center;
    width: 130px;
}

.register td{
    text-align: left;
    width: 260px;
}

.register {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 340px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.contact {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 540px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px;
    min-height: 450px;
}

.contact_table textarea {
    resize: vertical;
}

.contact_table {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.contact tr{
    width: 540px;
    vertical-align:bottom;
}

.contact th{
    text-align: center;
    width: 240px;
}

.contact td{
    text-align: left;
    width: 300px;
}



.helptext {
    display: none;
}

.login label {
    width: 150px;
    text-align: right;
}

.login_table {
    width: 300px;
    margin-right: auto;
    margin-left: auto
}

.login_input {
    padding: 10px;
    text-align: right;
}

.send_button {
    width: 100px;
    height: 50px
}

.menu {
    height: 70px;
    font-size: 1.1em;
}

.page_menu {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    float: left;
}

.user_menu {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 10px;
    float: right;
}

.content {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 800px;
    text-align: justify;
}

.header {
    float: left;
    margin-bottom: 10px;
}

.tags {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    float: left;
    width: 550px;
    word-break: break-all;
}

.edit {
    float: left;
    width: 190px;
    word-break: break-all;
}

.edited {
    float: right;
    text-align: right;
    width: 680px;
    word-break: break-all;
}

.author {
    float: right;
    text-align: right;
    width: 320px;
    word-break: break-all;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 927px;
}

.post {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 900px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar {
    float: right;
    width: 230px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
}

.messange {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 130px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px

}

hr {
    float: left;
    border: 1px solid #D9CCBC;
    width: 870px
}