{% load cms_tags staticfiles sekizai_tags menu_tags %}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="margin-left: auto; margin-right: auto; width: 50px;">
<div class="fb-like"
     data-href="{{ instance.href }}"
     data-layout="{{ instance.layout }}"
     data-action="{{ instance.action }}"
     data-show-faces="{{ instance.show_faces }}"
     data-share="{{ instance.share }}">

     </div>
</div>
