{% extends "base.html" %}

{% block content %}
    {% if status == 1%}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>OK!</strong> Twoja wiadomość została wysłana.
        </div>
    {% elif status == 0 %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> Nie udało się wysłać maila z wiadomością. Sprobuj później.
        </div>
    {% endif %}

    <form class="navbar navbar-default" action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center"><h1>Skontaktuj się ze mną!</h1></div>
        <br>
        <table class="contact_table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td style="text-align: left;"><input class="btn btn-primary btn-lg" type="submit" value="Wyślij"/></td>
            </tr>
        </table>
    </form>

{% endblock %}