{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div style="width: 1140px">
    <div class="sidebar">
        {% static_placeholder "sidebar" %}
    </div>
    <div class="post">
        <form action="{% url 'add_post' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="send_button" type="submit" value="Create post"/>
        </form>
        <p class="error"><strong>{{ error }}</strong></p>
    </div>
</div>
{% endblock %}