{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
    <div style="width: 1140px">

            <div class="col-md-3" style="word-break:break-all; padding-left: 0px;">
                <ul class="nav nav-pills nav-stacked well">
                    <li class="nav-header"></li>
                    {% show_menu_below_id "tag" 0 2 100 100 "menu.html" %}
                </ul>
            </div>

        {% for post in posts %}
            <div class="post" style="width: 855px; float: right">
                <div class="header">
                    <div class="title" style="width: 500px">
                        <strong><a href="{% url 'show_post' post.id %}">{{ post.title }}</a></strong>
                    </div>
                    <div class="author" style="width: 310px">
                        <i>{{ post.author.username }} - {{ post.date }}</i>
                    </div>
                </div>
                <hr style="width: 825px;">
                <div class="content" style="width: 785px; margin-left: 20px">
                    {{ post.text }}
                </div>
                <hr style="width: 825px;">

                {% if post.tags.all %}
                    <div class="tags">
                        <label><strong>Tags:</strong></label>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'post_tags' tag.id %}" style="margin-left: 20px">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <hr style="width: 825px;">
                {% endif %}

                <div class="tags">
                    <div class="edit" style="width: 130px;">
                        {% if user.is_authenticated %}
                            <a href="{% url 'edit_post' post.id %}">Edit post</a>
                        {% endif %}
                    </div>

                    <div class="edited">
                        {% if post.last_edited_by %}
                            <strong>Last update:&nbsp; &nbsp; </strong>
                            <i> {{ post.last_edited_by }} - {{ post.last_edited_date }}</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}