<div style="margin: 10px 10px 10px 10px">
    <h1>Tagi</h1>
    <ul>
        {% for t in instance.tags %}
            <li><a href="{% url 'post_tags' t.id %}">{{ t.name }}</a></li>
        {% endfor %}
    </ul>
</div>