<div style="margin: 10px 10px 10px 10px">
    <h1>Użytkownicy</h1>
    <ul>
        {% for u in instance.users %}
            {% if u.is_active %}
                <li><a href="{% url 'user_posts' u.id %}">{{ u.username }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>