<h1>Najnowszy post:</h1>
<h3>{{ instance.posts.title }}</h3>
<div>{{ instance.posts.text }}</div>
<br/>
<div>Autor: <i>{{ instance.posts.author }} {{ aa.pk }}</i></div>
<br/>
{% if instance.posts.tags.all %}
    <div>
        <label><strong>Tagi:</strong></label>
        {% for tag in instance.posts.tags.all %}
            <a href="{% url 'post_tags' tag.id %}" style="margin-left: 20px">{{ tag.name }}</a>
        {% endfor %}
    </div>
{% endif %}
<br/>